.gridBack {
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../../assets/images/board-layer-black-small.svg');
  height: 336px;
  width: 341px;

  @media screen(sm) {
    background-image: url('../../assets/images/board-layer-black-large.svg');
    height: 610px;
    width: 636px;
  }
}

.gridFront {
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../../assets/images/board-layer-white-small.svg');
  height: 326px;
  width: 341px;

  @media screen(sm) {
    background-image: url('../../assets/images/board-layer-white-large.svg');
    height: 600px;
    width: 638px;
  }
}

@keyframes bounce {
  20% {
    transform: translateY(-20%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  80% {
    transform: translateY(-10%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  0%,
  40%,
  100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.bounce {
  animation: bounce 300ms ease-out forwards;
  animation-iteration-count: 1;
}

.gamePiece {
  &.red {
    background-color: transparent;
    background-image: url('../../assets/images/counter-red-small.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }
  &.yellow {
    background-color: transparent;
    background-image: url('../../assets/images/counter-yellow-small.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }

  @media screen(sm) {
    &.red {
      background-color: transparent;
      background-image: url('../../assets/images/counter-red-large.svg');
      background-repeat: no-repeat;
      background-position: center center;
    }
    &.yellow {
      background-color: transparent;
      background-image: url('../../assets/images/counter-yellow-large.svg');
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}
