.menu {
  background-image: url('../../../../assets/images/logo.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 40px 40px;

  @media screen(sm) {
    background-size: 58px 58px;
    height: 58px;
  }
}
