.gridBack {
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/images/board-layer-black-small.svg');
  height: 336px;
  width: 341px;

  @media screen(sm) {
    background-image: url('../../../../assets/images/board-layer-black-large.svg');
    height: 606px;
    width: 636px;
  }
}

.gridFront {
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../../../../assets/images/board-layer-white-small.svg');
  height: 323px;
  width: 341px;

  @media screen(sm) {
    background-image: url('../../../../assets/images/board-layer-white-large.svg');
    height: 593px;
    width: 638px;
  }
}
