.gridBack {
  background-color: transparent;
  background-image: url('../../assets/images/board-layer-black-large.svg');
  background-position: center 10px center 0;
  height: 594px;
  width: 632px;
}

.gridFront {
  background-color: transparent;
  background-image: url('../../assets/images/board-layer-white-large.svg');
  background-position: center center;
  height: 584px;
  width: 632px;
}

.gamePiece {
  &.redSmall {
    background-color: transparent;
    background-image: url('../../assets/images/counter-red-small.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }
  &.yellowLarge {
    background-color: transparent;
    background-image: url('../../assets/images/counter-yellow-small.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }

  @media (min-width: 640px) {
    &.redLarge {
      background-color: transparent;
      background-image: url('../../assets/images/counter-red-large.svg');
      background-repeat: no-repeat;
      background-position: center center;
    }
    &.yellowLarge {
      background-color: transparent;
      background-image: url('../../assets/images/counter-yellow-large.svg');
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}
