@define-mixin border {
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-top: 3px solid black;
  border-bottom: 13px solid black;
}

.border {
  @mixin border;
  border-radius: 20px;
  &:hover {
    border-color: #5c2dd5;
  }
}

.borderNoHover {
  @mixin border;
}
